* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
}

.container-geral {
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    /* garante que o container cubra a tela inteira */
    padding-bottom: 30px;
    /* espaço extra no final */


}

.agenda {
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.show {
    background-color: #cca277;
    width: 750px;
    height: 150px;
    border-radius: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-show {
    width: 270px;
    text-align: center;
}

.capa-show {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 120px;
    border-radius: 20px
}

@keyframes escrevendo_e_apagando {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    75% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

/* Animação para o cursor piscando */
@keyframes cursor_piscando {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #8f4c1596;
    }
}