* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
}

.container-geral {
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    /* garante que o container cubra a tela inteira */
    padding-bottom: 30px;
    /* espaço extra no final */


}

.agenda {
    display: grid; /*para fazer colunas e fileiras*/
    grid-template-columns: repeat(2, 1fr); /* duas colunas iguais */
    gap: 20px; /* espaço entre os álbuns */
    justify-items: left; /* centraliza cada álbum na coluna */
    padding: 20px;
    justify-self: center;
    transition: all .4s ease;

}

.agenda :hover {
    transform: scale(1.05);
    color: #3f0909;
    background-color: #d88d5b2a;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);
}

.show {
    background-color: #cca277;
    width: 80%;
    height: 200px;
    justify-content: left;
    align-items: center;
    display: flex;
    border-radius: 20px;
    transition: all .4s ease;

}

.inf {
    flex-direction: column;
}

.inf h1 {
    font-size: 50px;
    transition: all .4s ease;

}

.inf h2 {
    font-size: 25px;
    transition: all .4s ease;
}

.titulo-show {
    color: rgb(136, 53, 28);
    text-align: left;
}

.capa-show {
    display: block;
    height: 200px;
    width: 200px;
    object-fit: fill;
    border-radius: 20px;
    margin-right: 20px;
    justify-content: flex-start;
    justify-items: left
}
