@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #E6C698;
  overflow: auto;
  font-family: "Mozilla Headline", sans-serif;
}

.container-geral {

  margin-top: 100px;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 30px;
}


.fotos-container {
    width: calc(3 * 529px + 2 * 40px);
    /*3 fotos + 2 espaçamentos de 40px */
    margin: 30px 0 30px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    /* espaçamento entre as fotos */
    justify-self: center;
}

.fotos {
    width: 529px;
    /* largura fixa */
    height: 374px;
    /* altura fixa */
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;


}

.fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
    image-rendering: auto;
    /* mantém a nitidez */


}

.f_text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    text-align: center;
    padding: 8px 0;
    font-style: italic;
    font-size: 14px;
    z-index: 1;
    transition: all 0.3s ease;
}

.fotos:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);
}

.fotos:hover .f_text {
    transform: scale(1.12);
    background-color: #5a100683;
    color: #ffffff;
}
