
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
}

/* Container geral da página */
.container-geral {
    /* fundo da área das músicas */
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    min-height: 100%;
    /* cobre toda a tela */
    width: 100%;
}

/* Container que organiza as músicas lado a lado */
.container_letras {
    margin-left: 20px;
    margin-bottom:20px;
    display: flex;
    /* deixa as músicas lado a lado */
    flex-wrap: wrap;
    /* quebra linha se não couber */
    gap: 20px;

    /* garante que fiquem alinhadas pelo topo */
    justify-content: center;
}

/* Cada música */
.letra {

    background-color: #cca277;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    /* vermelho */
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    /* largura consistente */
    box-sizing: border-box;
    min-height: 250px;
    text-align: center;

}

/* Título da música */
h2 {
    text-align: center;
    margin-bottom: 15px;

}

.letra h2 {
    text-align: center;
    margin-bottom: 15px;
    transition: all .4s ease;
    color: rgb(83, 29, 13);
}

/* Texto da letra */
.letra p {
    font-size: 16px;
    line-height: 1.7;
    font-weight: 700;
    text-align: center;
    transition: all .4s ease;
    color: rgb(105, 35, 13);
}

.letra :hover {
    transform: scale(1.12);
    color: #3f0909;
    background-color: #d88d5b2a;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.267);
}

