@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Mozilla+Headline:wght@200..700&display=swap');

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: "Mozilla Headline", sans-serif;
    background-color: #e8c899;
}

.icone-pagina {
    width: 80px;
    height: auto;
}

.container.topo {
    display: flex;
    background-color: #e8c899;
    padding: 10px;
    justify-content: space-between; /* Distribui os itens para as laterais */
    align-items: center;
    position: fixed;
    width: 100%;
    max-height: 85px;
    z-index: 100;
}

.titulo {
    display: flex; /* Cria um Flexbox para o ícone e o título */
    align-items: center;
    margin-left: 20px;
    color:rgb(175, 63, 11);
}

.quem_e {
    font-size: 25px;
    color: rgb(136, 53, 28);
    transition: all .4s ease;
    margin-left: 40px;
}

@keyframes escrevendo_e_apagando {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    75% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

/* Animação para o cursor piscando */
@keyframes cursor_piscando {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #8f4c1596;
    }
}

.titulo-pagina {
    font-size: 60px;
    margin-left: 20px;
    overflow: hidden; /* Garante que o texto fora da caixa não seja exibido */
    white-space: nowrap; /* Impede a quebra de linha */
    border-right: 4px solid #8f4c1596; /* Cria o cursor */
    animation: 
        escrevendo_e_apagando 9s infinite, /* Animação de digitação */
        cursor_piscando .75s step-end infinite; /* Animação do cursor piscando */

}

.menu-principal {
    display: flex;
    margin-right: 20px;
}

.opcao-menu {
    list-style: none;
    font-size: 25px;
    padding: 10px;
    margin: 0 7px;
    text-decoration: none;
    border-radius: 30px;
    color: rgb(136, 53, 28);
    transition: all .4s ease;
}

.opcao-menu:hover {
    background-color: #a73f0f;
    font-size: 28px;
    color: #ffffff;
}

.rodape {
    background-color: #383357;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.titulo-main {
    color: rgb(136, 53, 28);
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
}

.redes-sociais {
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: flex;
    min-width: 700px;
    height: 50px;
}



.rede-social {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: #ebbc8d00;
    border-radius: 100%;
    display: flex;
    transition: all .4s ease;
}

.rede-social:hover {
    background-color: #a73f0f;
    transform: scale(1.2);
}

.imagem-rede-social {
    width: 60%;

}

.tigrinho {
    width: 1905px;
}

.informacoes h2 {
    color: rgb(136, 53, 28);
    justify-self: center;

}

.redes-sociais h1 {
    font-size: 40px;
}